@keyframes triforce {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ad-loader-wrapp {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        circle,
        rgba(2, 0, 36, 0.6558998599439776) 0%,
        rgba(230, 230, 246, 1) 0%,
        rgba(25, 25, 24, 0.7315301120448179) 100%,
        rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .img-loader {
        animation: 4s triforce linear infinite;
    }
}

.ad-search-section {
    padding: 100px 0;
    .search-input {
        text-align: center;
        input {
            padding: 15px 20px;
            font-size: 20px;
            width: 100%;
            max-width: 500px;
            border: 1px solid $color-hover;
            outline: none;
        }
    }
}

.ad-table-record {
    margin-top: 100px;
    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;
        th {
            text-transform: capitalize;
            padding: 10px 20px;
            color: $color-hover;
            font-weight: 600;
            border: 1px solid $color-hover;
            text-align: left;
        }
        td {
            padding: 10px 20px;
            border: 1px solid #000;
        }
    }
}

.td-loading-col {
    padding: 0 !important;
    .ad-loader-wrapp {
        position: static;
        height: auto;
        width: auto;
        padding: 20px;
        background: radial-gradient(circle, rgba(0, 1, 0, 1) 0%, rgb(230, 230, 246) 0%, rgba(25, 25, 24, 0) 100%, rgb(0, 212, 255) 100%);
    }
}
